<div class="flex flex-col gap-5 w-full">
  <app-header></app-header>
  <app-sidebar-modal
    [sidebarVisible]="sidebarVisible"
    (closedClick)="onClosedSideBar()"
    titleText="Carrinho"
  >
    <div class="flex flex-col justify-between w-full h-full">
      <div class="flex flex-col w-full">
        <app-cart-item
          [cart]="cart"
          (itemRemoved)="onRemoveItem($event)"
        ></app-cart-item>
      </div>

      <div class="flex flex-col justify-center content-start border">
        <div>
          Total: R$ {{ totalPrice | currency : "BRL" : "symbol" : "1.2-2" }}
        </div>
        <!-- <div>
          Total:
          {{ totalPrice | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR" }}
        </div> -->
      </div>
    </div>
  </app-sidebar-modal>

  <div class="px-12 py-4 w-full">
    <div class="gap-4 grid grid-cols-5">
      <div class="col-span-1" *ngFor="let product of productsExample">
        <app-product-card
          [product]="product"
          (productAdded)="onAddedProductToCart($event)"
        ></app-product-card>
      </div>
    </div>
  </div>
</div>
