<div class="flex flex-col bg-black w-screen h-[450px]">
  <div
    class="flex justify-between items-start my-auto px-8 w-screen text-white"
  >
    <div class="flex flex-col">
      <h1 class="mb-2 border-b-2 font-bold">Redes sociais</h1>
      <a class="hover:text-slate-500" href="#">Instagram</a>
      <a class="hover:text-slate-500" href="#">Facebook</a>
      <a class="hover:text-slate-500" href="#">TikTok</a>
    </div>
    <div class="flex flex-col">
      <h1 class="mb-2 border-b-2 font-bold">Sobre</h1>
      <p class="w-[400px] text-start">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, nobis
        obcaecati facere ullam quasi repellat alias corporis beatae modi
        accusamus libero vero. Adipisci vitae delectus modi molestiae quod.
        Officia, dolor.
      </p>
    </div>
  </div>

  <div class="flex justify-center items-end mb-8 w-screen">
    <p class="text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
</div>
