<div class="flex bg-black w-full h-80">
  <div class="flex justify-between items-start mx-8 my-auto w-full text-white">
    <div class="flex flex-col">
      <h1 class="mb-2 border-b-2 font-bold">Redes sociais</h1>
      <a href="#">Instagram</a>
      <a href="#">Facebook</a>
      <a href="#">TikTok</a>
    </div>
    <div class="flex flex-col">
      <h1 class="mb-2 border-b-2 font-bold">Sobre</h1>
      <p class="w-[400px] text-start">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, nobis
        obcaecati facere ullam quasi repellat alias corporis beatae modi
        accusamus libero vero. Adipisci vitae delectus modi molestiae quod.
        Officia, dolor.
      </p>
    </div>
  </div>
</div>
